<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>yuld-shev.MercedesApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1018481597546-v3lgs7i3c2nccna5mo11pkdjltciah0g</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>google</string>
		<string>1018481597546-v3lgs7i3c2nccna5mo11pkdjltciah0g.apps.googleusercontent.com</string>
	</array>

	<key>UIAppFonts</key>
	<array>
		<string>CorporateAPro-Regular.ttf</string>
		<string>CorporateAPro-Medium.ttf</string>
		<string>Arial-Regular.ttf</string>
		<string>Arial-Medium.ttf</string>
		<string>Arial-Bold.ttf</string>
	</array>
</dict>
</plist>
